/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;

}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;

}

.beforeFooter{
    height: 60px; /*same height with footer*/
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    color: #ffffff;
    background-color: #E83964;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}



body > .container.no-padding {
    padding: 0px 0px 0px 0px;
}

.pointer{
    cursor: pointer;
}

.no-margin {
    margin: 0 0 0 0;
}

.no-padding {
    padding: 0 0 0 0;
}

.container.page {
    padding-top: 30px;
}


.form-group {
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}



select,
select.form-control {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 0 -2px 0 #ffffff;
    -moz-box-shadow: inset 0 -2px 0 #ffffff;
    box-shadow: inset 0 -2px 0 #ffffff;
}




.fw-100 {
    font-weight: 100;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-700 {
    font-weight: 700;
}
.fw-900 {
    font-weight: 900;
}


.header-steps-h6 {
    margin: 0;
    padding-top:10px;
    padding-bottom: 5px;
}
.header-steps-h5 {
    margin: 0;
    padding-bottom: 5px;
}



.progress-bar.step1 {
    width: 12.5%;
}
.progress-bar.step2 {
    width: 37.5%;
}
.progress-bar.step3 {
    width: 62.5%;
}
.progress-bar.step4 {
    width: 87.5%;
}
.progress-bar.step5 {
    width: 100%;
}


.passive {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.passive:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.img-row {
    display: inline-block;
    margin-top: 24px;
    margin-left: 7px;
}

.img-header-section {
    width: 40px;
}

.nettur-logo-nav {
    margin-top: -12px;
}

.jumbo-flights {
    background-color: #05B4C7;
}

.text-white {
    color: #ffffff;
}

.select-label {
    color: #aaaaaa;
    font-weight: 400;
    padding: 10px;
    font-size: 13px;
}

.form-control-select {
    padding: 10px;
}

.white-bg {
    background-color: #ffffff;
}





/*Custom progress line*/
.progress {
    overflow: hidden;
    height: 5px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 0px;
    margin-top: 10px;
}
.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #ffffff;
}





/*Navbar for Flight Operations*/

.navbar-flights {
    background-color: #05B4C7;
    border-color: #05B4C7;
}
.navbar-flights .navbar-brand {
    color: #9d9d9d;
}
.navbar-flights .navbar-brand:hover,
.navbar-flights .navbar-brand:focus {
    color: #9d9d9d;
    background-color: transparent;
}
.navbar-flights .navbar-text {
    color: #ffffff;
}
.navbar-flights .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-flights .navbar-nav > li > a:hover,
.navbar-flights .navbar-nav > li > a:focus {
    color: #464646;
    background-color: transparent;
}
.navbar-flights .navbar-nav > .active > a,
.navbar-flights .navbar-nav > .active > a:hover,
.navbar-flights .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #03A2B4;
}
.navbar-flights .navbar-nav > .disabled > a,
.navbar-flights .navbar-nav > .disabled > a:hover,
.navbar-flights .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}
.navbar-flights .navbar-toggle {
    border-color: #333333;
}
.navbar-flights .navbar-toggle:hover,
.navbar-flights .navbar-toggle:focus {
    background-color: #333333;
}
.navbar-flights .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-flights .navbar-collapse,
.navbar-flights .navbar-form {
    border-color: #101010;
}
.navbar-flights .navbar-nav > .open > a,
.navbar-flights .navbar-nav > .open > a:hover,
.navbar-flights .navbar-nav > .open > a:focus {
    background-color: #080808;
    color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-flights .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-flights .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-flights .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-flights .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-flights .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-flights .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-flights .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-flights .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #080808;
    }
    .navbar-flights .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-flights .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-flights .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444444;
        background-color: transparent;
    }
}
.navbar-flights .navbar-link {
    color: #9d9d9d;
}
.navbar-flights .navbar-link:hover {
    color: #ffffff;
}
.navbar-flights .btn-link {
    color: #9d9d9d;
}
.navbar-flights .btn-link:hover,
.navbar-flights .btn-link:focus {
    color: #ffffff;
}
.navbar-flights .btn-link[disabled]:hover,
fieldset[disabled] .navbar-flights .btn-link:hover,
.navbar-flights .btn-link[disabled]:focus,
fieldset[disabled] .navbar-flights .btn-link:focus {
    color: #444444;
}

/*Flights Page Header*/

.flights-background {
    background-color: #05B4C7;
}


.flight-text {
    color: #05B4C7;
}






.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0px;
}
.panel-body {
    padding: 15px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: -1px;
    border-top-left-radius: -1px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: -1px;
    border-bottom-left-radius: -1px;
}


.panel-default > .panel-heading {
    color: #ffffff;
    background-color: #05B4C7;
    border-color: #dddddd;
}

.radio.filter, .checkbox.filter {
    position: relative;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.centered-tr {
    text-align: center;
    vertical-align: middle;
}
.price-modal {
    font-size: 26px;
    font-weight: 300;
}
.type-modal1 {
    font-size: 20px;
    font-weight: 300;
}

.order-column {
    background-color: #05B4C7;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

div > .rc-slider-mark-text:nth-child(1) {
    padding-left: 50px;
}

div > .rc-slider-mark-text-active:nth-child(1) {
    padding-left: 50px;
}

div > .rc-slider-mark-text:nth-child(2) {
    padding-right: 50px;
}

div > .rc-slider-mark-text-active:nth-child(2) {
    padding-right: 50px;
}


.no-margin {
    margin: 0px;
}

.no-margin-top {
    margin-top: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-margin-left {
    margin-left: 0px;
}

.no-margin-right {
    margin-right: 0px;
}

.margin-5 {
    margin: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-7 {
    margin: 7px;
}

.margin-top-7 {
    margin-top: 7px;
}

.margin-bottom-7 {
    margin-bottom: 7px;
}

.margin-left-7 {
    margin-left: 7px;
}

.margin-right-7 {
    margin-right: 7px;
}

.margin-10 {
    margin: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-17 {
    margin: 17px;
}

.margin-top-17 {
    margin-top: 17px;
}

.margin-bottom-17 {
    margin-bottom: 17px;
}

.margin-left-17 {
    margin-left: 17px;
}

.margin-right-17 {
    margin-right: 17px;
}

.margin-20 {
    margin: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}


.no-padding {
    padding: 0px;
}

.no-padding-top {
    padding-top: 0px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.padding-5 {
    padding: 5px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-7 {
    padding: 7px;
}

.padding-top-7 {
    padding-top: 7px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-left-7 {
    padding-left: 7px;
}

.padding-right-7 {
    padding-right: 7px;
}

.padding-10 {
    padding: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-17 {
    padding: 17px;
}

.padding-top-17 {
    padding-top: 17px;
}

.padding-bottom-17 {
    padding-bottom: 17px;
}

.padding-left-17 {
    padding-left: 17px;
}

.padding-right-17 {
    padding-right: 17px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-right-20 {
    padding-right: 20px;
}